<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Works of Anthony Bourdain!</h1>
    <ul>
        <li>Anthony Bourdain: Parts Unknown, CNN</li>
        <li>No Reservations with Anthony Bourdain, TravelChannel</li>
    </ul>

    <ul>
        <li>
            <a href="/bio">Bio</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
 
  </body>
</html>